<div class="span12">
  <div class="well page-header text-center">
   <h1>Welcome, <%= current_user.username %>!</h1>
   <br>
   <h4>Click on a Gif To Remove It From Your Favorites!</h4>
 </div>


 <% @user.gifs.each do |gif| %>
   <%= link_to image_tag(gif.image_path), user_gif_path(current_user, gif_id: gif.id), method: :delete %>
 <% end %>
 <br>
</div>
