<h1 class="text-center well page-header">Admin Categories</h1>

<table class="table table-bordered table-striped">
<% @categories.each do |category| %>
<tr>
  <td><%= link_to category.name, admin_category_path(category) %></td>
  <td><%= link_to "Delete", admin_category_path(category), method: :delete %></td>
</tr>
  <br>
<% end %>
</div>
